git/  @cookpad/web-chapter-all
javascript/ @cookpad/web-chapter-all
rails/ @cookpad/web-chapter-all
rake/ @cookpad/web-chapter-all
redis/ @cookpad/web-chapter-all
rspec/ @cookpad/web-chapter-all
ruby/ @cookpad/web-chapter-all
scss/ @cookpad/web-chapter-all
*.yml @cookpad/web-chapter-all
